*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
}

.loader {
  border: 4px solid #4a4a4a;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
